@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Prompt:wght@200;300;400;500;600;700;800&family=Sarpanch:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './react-tabs.css';
@import './react-modal.css';

body{
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
  overflow-y: scroll;
}

#root{
  overflow-x: hidden;
}

* {
  outline: none !important;
}

a{
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

video {
  background-color: #000;
}

.hover-trigger .hover-target {
  visibility: hidden;
}

.hover-trigger:hover .hover-target {
  visibility: visible;
}

.backdrop-filter{
  backdrop-filter: blur(2px);
}